

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
}
body{
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    font-weight: 400;
    line-height: 1.7;
}

.topnav{
 background-color: black;
}
